@model IEnumerable<MrFixIt.Models.Job>
<div class="text-center">
    <h3>Our Current Jobs</h3>
    @Html.ActionLink("Add a new job", "Create")
</div>
@foreach (var Job in Model)
{
    if(Job.Completed == false)
    {

        <ul>
            <li>@Job.Title</li>
            <ul>
                <li>@Job.Description</li>
            </ul>
            @if (Job.Worker == null)
            {
                <li>This job is unclaimed. 
                    <form class="ClaimJob" action="Claim">
                        <input type="hidden" value=@Job.JobId name="JobId"/>
                        <button type="submit">claim this job</button>
                    </form>
                    <div id="ShowClaimForm"></div>
                </li>
            }
            else
            {
                <li>This Job is claimed by @Job.Worker.FirstName @Job.Worker.LastName</li>

            }
        </ul>
        


        <hr />

    }
}

